<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Mon super blog</h1>
<div class="container">
    <% for(let i = 0; i < 5; i++) { %>
        <a href="/post">
            <div class="card">
                <img src="/img/visual-reverse-image-search-v2_intro.jpg" alt="">
                <div class="card-details">
                    <h2>Mon post</h2>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur doloribus ea earum, harum maiores minima qui tempora temporibus ullam?</p>
                </div>
            </div>
        </a>
    <% } %>
</div>
</body>
</html>
